/*html, body {
  min-width:600px;
  min-height:320px;
}*/

body {
  text-align:center;
  font-family:sans-serif;
}

.frame {
  display:inline-block;
  width:20em;
  height: 19em;
  overflow: hidden;

}

#wrapper {
  width: 120em;
  position: relative;
  left: 0em;
}

.container{
  margin-bottom:1em;
  float: left;
  width:auto;
}

.station {
  display:block;
  width:20em;
}

.stName {
  display:block;
  height: 13em;
  font-weight:bold;
}

.stName span {
  display:block;
  text-align:center;
}

.stName img {
  display: block;
  margin: auto;
}

.songName {
  display:block;
  height: 2em;
  text-align:center;
}

.spinner {
  display: none;
  height: 2em;
}

.links {
  display:block;
  margin:auto;
  text-align:center;
}

.links a {
  height:4em;
  width:4em;
  display:inline-block;
  margin:2px;
  padding:0;
}

.refresh {
  background: url(img/refresh.png);
  background-size: Auto 100%;
}

.search {
  background: url(img/search.png);
  background-size: Auto 100%;
}

.save {
  background: url(img/save.png);
  background-size: Auto 100%;
}

#control {
  z-index: -1;
  width:80%;
  max-width:25em;
  height: 4em;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 5em auto;
}

#control a {
  display:block;
  height: 4em;
  width:4em;
  box-shadow: inset 2px -2px 0 1px #3a3a3a;
}

#left{
  float: left;
 transform: rotate(45deg);
}

#right {
  float: right;
  transform: rotate(225deg);
}

#hint {
  color: grey;
  position: fixed;
  right: 0px;
  bottom: 0px;
  text-align: left;
  font-size: 0.8em;
}

.toaster_container {
  z-index:15;
  width: 100%;
  height: 1.5em;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10em auto;
  text-align: center;
}

.toaster {
  -webkit-border-radius: 20;
  -moz-border-radius: 20;
  border-radius: 20px;
  display: inline-block;
  color: #ffffff;
  background: #000000;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */

}

.toaster-fadein {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

.toaster-fadeout {
  animation: fadeout 2s;
  -moz-animation: fadeout 2s; /* Firefox */
  -webkit-animation: fadeout 2s; /* Safari and Chrome */
  -o-animation: fadeout 2s; /* Opera */
}

@keyframes fadein {from {opacity:0;}to {opacity:0.8;}}
@-moz-keyframes fadein {from {opacity:0;}to {opacity:0.8;}} /* Firefox */
@-webkit-keyframes fadein {from {opacity:0;}to {opacity:0.8;}} /* Safari and Chrome */
@-o-keyframes fadein {from {opacity:0;}to {opacity:0.8;}} /* Opera */

@keyframes fadeout {from {opacity:0.8;}to {opacity:0;}}
@-moz-keyframes fadeout {from {opacity:0.8;}to {opacity:0;}} /* Firefox */
@-webkit-keyframes fadeout {from {opacity:0.8;}to {opacity:0;}} /* Safari and Chrome */
@-o-keyframes fadeout {from {opacity:0.8;}to {opacity:0;}} /* Opera */
